<!DOCTYPE html>
<html
    lang="ko"
    dir="ltr"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>MANAGER</title>
  <link rel="icon" type="image/x-icon" href="/img/favicon.png">

  <!-- Bootstrap  CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <!-- jQuery UI CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"
        integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"/>

  <!-- Custom fonts for this template-->
  <link href="/tem2/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">

  <!-- Custom styles for this template-->
  <link href="/tem2/css/sb-admin-2.min.css" rel="stylesheet">

  <!-- Custom styles for this page -->
  <link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.css"/>
  <link rel="stylesheet" href="https://cdn.datatables.net/select/2.1.0/css/select.dataTables.css"/>


  <script src="/manager/myHotelRequest.js"></script>
  <link rel="stylesheet" href="/manager/myHotelRequest.css">

  <style>
      .preview_img {
          min-height: 50px;
          border: 1px solid #999999;
          padding: 5px;
          border-radius: .35rem;
      }

      .preview_img:empty:before {
          content: attr(placeholder);
          color: #6e707e;
      }
  </style>


</head>

<body id="page-top">

<div id="user"
     th:data-user-id="${#authentication.principal.id}"
     th:data-user-name="${#authentication.principal.username}">
</div>

<!-- Page Wrapper -->
<div id="wrapper">

  <!-- Sidebar -->
  <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
      <div class="sidebar-brand-icon rotate-n-15">
        <i class="fas fa-paw"></i>
      </div>
      <div class="sidebar-brand-text mx-3">Pet Hotel</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

<!--    &lt;!&ndash; Nav Item - Dashboard &ndash;&gt;-->
<!--    <li class="nav-item">-->
<!--      <a class="nav-link" href="/manager/hotelmainPage">-->
<!--        <i class="fas fa-fw fa-tachometer-alt"></i>-->
<!--        <span>Dashboard</span></a>-->
<!--    </li>-->

<!--    &lt;!&ndash; Divider &ndash;&gt;-->
<!--    <hr class="sidebar-divider">-->


    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item active">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#hotelCollapse"
         aria-expanded="true" aria-controls="hotelCollapse">
        <i class="fas fa-fw fa-home"></i>
        <span>My Hotel</span>
      </a>
      <div id="hotelCollapse" class="collapse show" aria-labelledby="hotelCollapse" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <a class="collapse-item" href="/manager/myhotelPage">호텔 관리</a>
          <a class="collapse-item" href="/manager/myhotelroom/0">객실 관리</a>
          <a class="collapse-item" href="/manager/myhotelbooking/0">예약 관리</a>
          <a class="collapse-item active" href="/manager/myhotelrequest/0">예약 요청 관리</a>
        </div>
      </div>
    </li>

    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

  </ul>
  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">
      <!-- Topbar -->
      <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
        <!-- Sidebar Toggle (Topbar) -->
        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
          <i class="fa fa-bars"></i>
        </button>
        <!-- Topbar Navbar -->
        <ul class="navbar-nav ml-auto">
          <!-- Nav Item - User Information -->
          <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="mr-2 d-none d-lg-inline text-gray-600 small" th:text="${#authentication.name}"></span>
              <img class="img-profile rounded-circle"
                   src="/tem2/img/undraw_profile.svg">
            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                 aria-labelledby="userDropdown">
              <a class="dropdown-item" href="#">
                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                Profile
              </a>
              <a class="dropdown-item" href="#">
                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                Settings
              </a>
              <a class="dropdown-item" href="#">
                <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                Activity Log
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                Logout
              </a>
            </div>
          </li>

        </ul>
      </nav>
      <!-- End of Topbar -->

      <!-- Begin Page Content -->
      <div class="container-fluid">
        <!-- DataTales Example -->
        <div class="row" style="height: 45vh;">
          <div class="col-12">
            <div class="card shadow" style="height: 100%">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">예약 대기</h6>
              </div>
              <div class="card-body">
                <div class="mb-3">
                  <select class="form-select mb-3" id="myHotels" name="myHotels" style="width: fit-content;">
                    <option></option>
                  </select>
                </div>
                <div class="table-responsive" style="height: 100%">
                  <table class="table table-bordered table-hover" id="tabMyRequest" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                      <th>타입</th>
                      <th>시작일</th>
                      <th>종료일</th>
                      <th>숙박 일 수</th>
                      <th>예약인원</th>
                      <th>예약펫수</th>
                    </tr>
                    </thead>
                    <tfoot>
                    </tfoot>
                    <tbody>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="height: 45vh;">
          <div class="col-12" >
            <div class="card shadow mb-4" style="height: 100%;">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">예약 목록</h6>
              </div>
              <div class="card-body">
                <div class="table-responsive" style="height: 90%">
                  <table class="table table-bordered table-hover" id="tabMyBooking" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                      <th>객실</th>
                    </tr>
                    </thead>
                    <tfoot>
                    </tfoot>
                    <tbody>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- /.container-fluid -->
</div>
<!-- End of Main Content -->

<!-- Footer -->
<footer class="sticky-footer bg-white">
  <div class="container my-auto">
    <div class="copyright text-center my-auto">
      <span>Copyright &copy; Your Website 2021</span>
    </div>
  </div>
</footer>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="logoutModalLabel">Ready to Leave?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        <a class="btn btn-primary" href="/logout">Logout</a>
      </div>
    </div>
  </div>
</div>


<!-- Bootstrap core JavaScript-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

<!-- Core plugin JavaScript-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"
        integrity="sha512-ahmSZKApTDNd3gVuqL5TQ3MBTj8tL5p2tYV05Xxzcfu6/ecvt1A0j6tfudSGBVuteSoTRMqMljbfdU0g2eDNUA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!--<script src="tem2/vendor/jquery-easing/jquery.easing.min.js"></script>-->

<!-- Custom scripts for all pages-->
<script src="/tem2/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/select/2.1.0/js/dataTables.select.js"></script>
<script src="https://cdn.datatables.net/select/2.1.0/js/select.dataTables.js"></script>

<!-- Page level custom scripts -->


<script>
    $(function () {
        let currentUrl = window.location.href;
        let hotelId = currentUrl.split('/').pop();  // URL의 마지막 부분 ("/" 이후 값) 추출
        let bookingId;
        let user = $('#user');

        let selectMyHotels = $('#myHotels');
        selectMyHotels.on("change", function (){
            hotelId = this.value;
            $.ajax({
                url:'/manager/myrequest/'+this.value,
                type: 'get',
                success:function (data){
                    tabMyRequest.clear().rows.add(data.bookings).draw();
                }
            })
            tabMyBooking.clear().draw();
        })

        $.ajax({
            url: '/manager/myhotels/'+BigInt(user.data('user-id')),
            type: 'get',
            success: function (data){
                selectMyHotels.empty();
                $.each(data.hotels, function (i, hotel){
                    let option = $('<option></option>')
                        .val(hotel.hotelId)  // 호텔의 id를 value로 설정
                        .text(hotel.hotelName);  // 호텔의 이름을 텍스트로 설정
                    selectMyHotels.append(option);  // select에 option 추가
                });
                // URL에서 가져온 호텔 ID가 목록에 있다면, 그 호텔을 자동으로 선택
                if (hotelIdFromUrl != 0) {
                    selectMyHotels.val(hotelIdFromUrl);  // 호텔 ID로 옵션을 선택
                    $('#hotelId').val(hotelIdFromUrl)
                } else {
                    selectMyHotels.val(data.hotels[0].hotelId);  // 호텔 ID로 옵션을 선택
                    $('#hotelId').val(data.hotels[0].hotelId);
                    selectMyHotels.trigger('change');
                }
            },
            error: function (e){
            }
        })

        let tabMyRequest = $('#tabMyRequest').DataTable({
            paging: false,
            scrollCollapse: false,
            searching: false,
            select: {
                style: 'single'
            },
            ajax: {
                url: '/manager/myrequest/'+BigInt(hotelId),
                type: 'get',
                dataSrc: 'bookings'
            },
            columns: [
                {data: "roomType"},
                {data: "startDate"},
                {data: "endDate"},
                {data: "totalDate"},
                {data: "bookingGuest"},
                {data: "bookingPet"}
            ],
        })

        let tabMyBooking = $('#tabMyBooking').DataTable({
            fixedColumns: {
                start: 1
            },
            paging: false,
            scrollCollapse: false,
            scrollX: true,
            searching: false,
            select: {
                style: 'single'
            },
            // ajax: {
            //     url: '/manager/myroomdetail/booking/' + roomId+'/'+bookingId,
            //     type: 'GET',  // HTTP 메서드 (GET)
            //     // data: {
            //     //     bookingId: bookingId
            //     // },
            //     dataSrc: function (json) {
            //         let columns = [
            //             { data: 'roomName', title: '객실' }  // 기본 열: 객실 이름
            //         ];
            //
            //         // 받아온 데이터로 날짜 열 추가
            //         json.dates.forEach(function (date, index) {
            //             columns.push({
            //                 data: 'dates' + index ,  // dates[0], dates[1], ... 형식
            //                 title: date  // 열 제목을 날짜로 설정
            //             });
            //         });
            //
            //         // columns 배열을 동적으로 반환
            //         let data =  json.paidBookings.roomData.map(function(room) {
            //             let rowData = {
            //                 roomName: room.roomName,
            //                 roomDetailId: room.roomDetailId
            //             };
            //
            //             // 각 날짜 상태 추가
            //             room.dates.forEach(function (status, index) {
            //                 rowData['dates' + index] = status.trim();  // 'dates0', 'dates1' 등의 키에 맞게 상태 추가
            //             });
            //
            //             return rowData;  // 최종적으로 매핑된 데이터 반환
            //         });
            //         return  {
            //             columns: columns,
            //             data:data
            //         }
            //     },
            //     error: function (request, status, error) {
            //         let result = jQuery.parseJSON(request.responseText)
            //         alert(result.msg);
            //     }
            // },
        })

        // 클릭시 같은 타입의 객실 목록 조회
        $('#tabMyRequest tbody').on('click', 'tr', function () {
            let selectedVal = $('#tabMyRequest').DataTable().row('.selected').data();
            let checkedVal = $('#tabMyRequest').DataTable().row(this).data();

            if (selectedVal === checkedVal){
                tabMyBooking.clear().draw();
            }else{
                bookingId = checkedVal.bookingId;

                $.ajax({
                    url:'/manager/myroomdetail/booking/' + checkedVal.roomId,
                    type: 'get',
                    data: {
                        bookingId: checkedVal.bookingId
                    },
                    success:function (data){
                        tabMyBooking.destroy();
                        $('#tabMyBooking').empty()
                        let columns = [
                            {
                                data: 'roomName', title: '객실',
                                render: function (data, type, row) {
                                    return '<a href="#" class="text-decoration-none" onclick="bookingApprove('+ row.roomDetailId + ', \'' + bookingId + '\')">' + data + '</a>';
                                }
                            }
                        ]

                        data.dates.forEach(function (date, index) {
                            columns.push({
                                data: 'dates' + index, // dates 배열의 각 인덱스에 해당하는 값을 설정
                                title: date                  // 해당 날짜를 컬럼 제목으로 설정
                            });
                        });

                        tabMyBooking = $('#tabMyBooking').DataTable({
                            fixedColumns: {
                                start: 1
                            },
                            paging: false,
                            scrollCollapse: false,
                            scrollX: true,
                            searching: false,
                            select: {
                                style: 'single'
                            },
                            columns: columns,
                            createdRow: function (row, data, dataIndex) {
                                // 예시: 'X' 값인 셀에 스타일 적용
                                $('td', row).each(function (index) {
                                    if ($(this).text().trim() === 'X') {
                                        $(this).addClass('bg-occupied');  // X 값이 있는 셀에 'highlight' 클래스 추가
                                    } else if ($(this).text().trim() === 'O') {
                                        $(this).addClass('bg-available');
                                    } else{
                                        $(this).addClass('bg-default');
                                    }
                                });
                            }
                        })
                        data.paidBookings.roomData.forEach(function(room) {
                            let rowData = {
                                roomName: room.roomName,
                                roomDetailId: room.roomDetailId
                            };

                            room.dates.forEach(function (status, index) {
                                rowData['dates' + index ] = status.trim()
                            });
                            tabMyBooking.row.add(rowData).draw();
                        });

                        $('#tabMyBooking').on('dblclick', 'tbody tr', function () {
                            let checkedVal = tabMyBooking.row(this).data();
                            console.log(checkedVal);
                        })
                    }
                })
            }

        })



    });

</script>


</body>
</html>
