<!DOCTYPE html>
<!DOCTYPE html>
<html
        lang="ko"
        dir="ltr"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>MANAGER</title>

  <script src="/manager/myHotelRoom.js"></script>

  <!-- Bootstrap  CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"  integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <!-- jQuery UI CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Custom fonts for this template-->
  <link href="/tem2/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link
          href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="/tem2/css/sb-admin-2.min.css" rel="stylesheet">

  <!-- Custom styles for this page -->
  <link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.css" />
  <link rel="stylesheet" href="https://cdn.datatables.net/select/2.1.0/css/select.dataTables.css" />




</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

  <!-- Sidebar -->
  <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
      <div class="sidebar-brand-icon rotate-n-15">
        <i class="fas fa-paw"></i>
      </div>
      <div class="sidebar-brand-text mx-3">Pet Hotel </div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
      <a class="nav-link" href="/manager/hotelmainPage">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item active">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#hotelCollapse"
         aria-expanded="true" aria-controls="hotelCollapse">
        <i class="fas fa-fw fa-home"></i>
        <span>My Hotel</span>
      </a>
      <div id="hotelCollapse" class="collapse show" aria-labelledby="hotelCollapse" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <a class="collapse-item" href="/manager/myhotelPage">호텔 관리</a>
          <a class="collapse-item active" href="/manager/myhotelroom/0">객실 관리</a>
          <a class="collapse-item" href="/manager/myhotelroom">객실 관리</a>
        </div>
      </div>
    </li>

    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

  </ul>
  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

      <!-- Topbar -->
      <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
        <!-- Sidebar Toggle (Topbar) -->
        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
          <i class="fa fa-bars"></i>
        </button>
        <!-- Topbar Navbar -->
        <ul class="navbar-nav ml-auto">
          <!-- Nav Item - User Information -->
          <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="mr-2 d-none d-lg-inline text-gray-600 small" th:text="${#authentication.name}"></span>
              <img class="img-profile rounded-circle"
                   src="/tem2/img/undraw_profile.svg">
            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                 aria-labelledby="userDropdown">
              <a class="dropdown-item" href="#">
                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                Profile
              </a>
              <a class="dropdown-item" href="#">
                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                Settings
              </a>
              <a class="dropdown-item" href="#">
                <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                Activity Log
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                Logout
              </a>
            </div>
          </li>

        </ul>
      </nav>
      <!-- End of Topbar -->

      <!-- Begin Page Content -->
      <div class="container-fluid">
        <input type="hidden" id="userId" name="userId" th:value="${#authentication.principal.id}" />
        <input type="hidden" id="hotelId" name="hotelId" />
        <!-- DataTales Example -->
        <div class="row" style="height: 50vh;">
          <div class="col-12" style="height: 100%;">
            <div class="card shadow mb-4" style="height: 100%;">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">객실 관리</h6>
              </div>
              <div class="card-body">
                <div style="display: flex;">
                  <select class="form-select" id="myHotles" name="myHotles" style="width: fit-content;">
                    <option></option>
                  </select>
                  <button type="button" class="btn btn-primary ml-3" onclick="addRoomModal('add')">add</button>
                </div>

                <div class="table-responsive" style="height: 90%">
                  <table class="table table-bordered table-hover" id="tabMyRoom" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                      <th>객실 이름</th>
                      <th>타입</th>
                      <th>가격</th>
                      <th>최대인원</th>
                      <th>최대펫수</th>
                      <th>체크인</th>
                      <th>체크아웃</th>
                      <th>객실 정보</th>
                    </tr>
                    </thead>
                    <tfoot>
                    </tfoot>
                    <tbody>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="height: 50vh;">
          <div class="col-4" style="height: 100%;">
            <div class="card shadow mb-4" style="height: 100%;">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">객실 컨디션</h6>
              </div>
              <div class="card-body">

              </div>
            </div>
          </div>
          <div class="col-4" style="height: 100%;">
            <div class="card shadow mb-4" style="height: 100%;">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">객실 제공서비스</h6>
              </div>
              <div class="card-body">

              </div>
            </div>
          </div>
          <div class="col-4" style="height: 100%;">
            <div class="card shadow mb-4" style="height: 100%;">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">객실 사진</h6>
              </div>
              <div class="card-body">
                <form id="roomImgForm" enctype="multipart/form-data" class="mb-3" >
                  <label class="form-label"  for="roomPhotos"></label>
                  <div style="display: flex;">
                    <input type="file" class="form-control" id="roomPhotos" name="roomPhotos" style="width: 90%;" multiple >
                    <button type="submit" class="btn btn-primary ms-2 w-auto" style="width: 10%;">add</button>
                  </div>
                </form>
                <div class="table-responsive" style="height: 90%;">
                  <table class="table table-bordered table-hover" id="tabRoomImg" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                      <th>사진 리스트</th>
                    </tr>
                    </thead>
                    <tfoot>
                    </tfoot>
                    <tbody>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</div>
<!-- End of Main Content -->

<!-- Footer -->
<footer class="sticky-footer bg-white">
  <div class="container my-auto">
    <div class="copyright text-center my-auto">
      <span>Copyright &copy; Your Website 2021</span>
    </div>
  </div>
</footer>
<!-- End of Footer -->

</div>
<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        <a class="btn btn-primary" href="/loguot">Logout</a>
      </div>
    </div>
  </div>
</div>

<!-- Modal_Room -->
<div class="modal fade" id="roomModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalCenterTitle">객실 추가</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <form id="roomForm">
            <input type="hidden" id="roomId" name="roomId">
            <label class="form-label" for="roomName"></label>
            <div class="input-group input-group-merge">
              <span id="roomName2" class="input-group-text" style="width: 25%">객실 이름</span>
              <input type="text"
                     class="form-control"
                     placeholder=" 이름"
                     id="roomName"
                     name="roomName" />
            </div>
            <label class="form-label" for="roomType"></label>
            <div class="input-group input-group-merge">
              <span id="hotelType2" class="input-group-text" style="width: 25%">타입</span>
              <select class="form-select" id="roomType" name="roomType">
                <option th:each="rtp : ${RTP}" th:value="${rtp.code}" th:text="${rtp.codeName}"></option>
              </select>
            </div>
            <label class="form-label" for="roomPrice"></label>
            <div class="input-group input-group-merge">
              <span id="roomPrice2" class="input-group-text" style="width: 25%">가격</span>
              <input type="text"
                     class="form-control"
                     placeholder=" 가격"
                     id="roomPrice"
                     name="roomPrice" />
            </div>
            <label class="form-label" for="limitGuest"></label>
            <div class="input-group input-group-merge">
              <span id="limitGuest2" class="input-group-text" style="width: 25%">최대인원</span>
              <input type="text"
                     class="form-control"
                     placeholder=" 최대인원"
                     id="limitGuest"
                     name="limitGuest" />
            </div>
            <label class="form-label" for="limitPet"></label>
            <div class="input-group input-group-merge">
              <span id="limitPet2" class="input-group-text" style="width: 25%">최대펫수</span>
              <input type="text"
                     class="form-control"
                     placeholder=" 최대펫수"
                     id="limitPet"
                     name="limitPet" />
            </div>
            <label class="form-label" for="checkIn"></label>
            <div class="input-group input-group-merge">
              <span id="checkIn2" class="input-group-text" style="width: 25%">체크인</span>
              <input type="time"
                     class="form-control"
                     placeholder=" 체크인"
                     id="checkIn"
                     name="checkIn" />
            </div>
            <label class="form-label" for="checkOut"></label>
            <div class="input-group input-group-merge">
              <span id="checkOut2" class="input-group-text" style="width: 25%">체크아웃</span>
              <input type="time"
                     class="form-control"
                     placeholder=" 체크아웃"
                     id="checkOut"
                     name="checkOut" />
            </div>
            <label class="form-label" for="roomInfo"></label>
            <div class="input-group input-group-merge">
              <span id="roomInfo2" class="input-group-text" style="width: 25%">객실설명</span>
              <textarea type="text"
                        class="form-control"
                        placeholder=" 객실설명"
                        id="roomInfo" name="roomInfo" ></textarea>
            </div>


            <div class="mt-3" id="errorDiv" style="text-align: center; color: red; display: none;">
              <p id="errorMsg"></p>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="saveBtn" onclick="saveRoom('post')">Save</button>
        <button type="button" class="btn btn-primary" id="modifyBtn" onclick="saveRoom('put')">Modify</button>
        <button type="button" class="btn btn-danger" id="deleteBtn" onclick="saveRoom('del')">Delete</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
<!--/ Modal_Hotel -->





<!-- Bootstrap core JavaScript-->
<script src="/tem2/vendor/jquery/jquery.min.js"></script>
<script src="/tem2/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/tem2/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/tem2/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="/tem2/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/tem2/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/select/2.1.0/js/dataTables.select.js"></script>
<script src="https://cdn.datatables.net/select/2.1.0/js/select.dataTables.js"></script>

<script>

  $(function(){
    const userId = $('#userId').val();
    let currentUrl = window.location.href;
    let hotelIdFromUrl = currentUrl.split('/').pop();  // URL의 마지막 부분 ("/" 이후 값) 추출

    let selectMyHotles = $('#myHotles');

    $.ajax({
      url: '/manager/myhotels/'+BigInt(userId),
      type: 'get',
      success: function (data){
        selectMyHotles.empty();
        $.each(data.hotels, function (i, hotel){
          let option = $('<option></option>')
                  .val(hotel.hotelId)  // 호텔의 id를 value로 설정
                  .text(hotel.hotelName);  // 호텔의 이름을 텍스트로 설정
          selectMyHotles.append(option);  // select에 option 추가
        });
        // URL에서 가져온 호텔 ID가 목록에 있다면, 그 호텔을 자동으로 선택
        if (hotelIdFromUrl) {
          selectMyHotles.val(hotelIdFromUrl);  // 호텔 ID로 옵션을 선택
          $('#hotelId').val(hotelIdFromUrl)
        }
      },
      error: function (e){
      }
    })

    let tabMyRoom = $('#tabMyRoom').DataTable({
      paging: false,
      scrollCollapse: false,
      scrollY: '50vh',
      select: {
        style : 'single'
      },
      ajax:{
        url:'/manager/myrooms/'+BigInt(hotelIdFromUrl),
        type:'get',
        dataSrc:'rooms'
      },
      columns: [
        {data: "roomName"},
        {data: "roomType"},
        {data: "roomPrice"},
        {data: "limitGuest"},
        {data: "limitPet"},
        {data: "checkIn"},
        {data: "checkOut"},
        {data: "roomInfo"},
      ],
    })

    selectMyHotles.on("change", function (){
      $('#hotelId').val(this.value);
      $.ajax({
        url:'/manager/myrooms/'+this.value,
        type: 'get',
        success:function (data){
          tabMyRoom.clear().rows.add(data.rooms).draw();
        }
      })
    })

    $('#tabMyRoom tbody').on('dblclick','tr', function (){
      let checkedVal = $('#tabMyRoom').DataTable().row(this).data();
    })

    // 클릭시 객실 이미지 렌더링
    $('#tabMyRoom tbody').on('click','tr', function (){
      let checkedVal = $('#tabMyRoom').DataTable().row(this).data();
      let preroomId = $('#roomId').val();

      if (preroomId == checkedVal.roomId) { // 같은거 클릭시 선택 해제
        tabRoomImg.clear().draw();
        $('#roomId').val('');
      } else {
        // 이미지 로드
        $.ajax({
          url:'/manager/myroom/'+checkedVal.roomId,
          type: 'get',
          success:function (data){
            tabRoomImg.clear().rows.add(data.room.roomPhotos).draw();
          }
        })
        $('#roomId').val(checkedVal.roomId);
      }

    })

    let tabRoomImg = $('#tabRoomImg').DataTable({
      paging: false,
      scrollCollapse: false,
      searching: false,
      select: {
        style : 'single'
      },
      columns: [
        {render: function (data, type, row){
            return imgRender(row)
          }}
      ],
    });

    $('#roomImgForm').on('submit', function (e){
      e.preventDefault();

      let roomId = $('#roomId').val();
      let formData = new FormData();
      // 파일 데이터를 FormData에 추가 (파일은 #hotelPhoto input을 사용)
      Array.from($('#roomPhotos')[0].files).forEach(function(file) {
        formData.append('roomPhotos', file);  // hotelPhotos는 서버에서 처리할 파라미터 이름입니다.
      });

      $.ajax({
        url: '/manager/myroomImg/'+BigInt(roomId),
        type: 'post',
        async: true,
        data: formData,  // FormData 객체 전송
        processData: false,  // jQuery가 데이터를 자동으로 변환하지 않도록 설정
        contentType: false,  // jQuery가 contentType을 자동으로 설정하도록 함
        success: function(result) {
          alert(result.msg);
          imgReLoad();
        },
        error: function (request, status, error){
          let result = jQuery.parseJSON(request.responseText);
          alert(result.msg);  // 오류 메시지에 삽입
        }

      })
    })


  });

</script>


</body>
</html>
