<div data-element-name="mmb-booking-phase-tab" role="tablist" aria-label="label-only"
     aria-owns="mmb-booking-phase-tabs-tab-1 mmb-booking-phase-tabs-tab-2 mmb-booking-phase-tabs-tab-3"
     class="">
  <div class=""
       style="min-height: 44px;">
    <button id="mmb-booking-phase-tabs-tab-1" aria-controls="mmb-booking-phase-tabs-panel-1"
            role="tab" tabindex="0" aria-selected="true" type="button"
            class=""
            style="">
      <p class="">다가오는 예약</p>
    </button>
    <div class=""
         style="bottom: 0px; left: 0px; right: 0px; height: 2px;">
    </div>
  </div>
  <div class=""
       style="min-height: 44px;">
    <button id="mmb-booking-phase-tabs-tab-2" aria-controls="mmb-booking-phase-tabs-panel-2"
            role="tab" tabindex="-1" aria-selected="false" type="button"
            class=""
            style="">
      <p class="">완료된 예약</p>
    </button>
  </div>
  <div class=""
       style="min-height: 44px;">
    <button id="mmb-booking-phase-tabs-tab-3" aria-controls="mmb-booking-phase-tabs-panel-3"
            role="tab" tabindex="-1" aria-selected="false" type="button"
            class=""
            style="">
      <p class=""></p>
    </button>
  </div>
</div>