<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        lang="en"
        dir="ltr"
>
<head>
  <th:block th:insert="fragments/head :: headFragment"></th:block>
</head>
<body style="height: 100vh;">
<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar" style="height: 100%">
  <div class="layout-container" style="height: 100%">

    <!-- Layout container -->
    <div class="layout-page" style="height: 100%">

      <!-- Content wrapper -->
      <div class="content-wrapper" style="">
        <!-- Content -->
        <div layout:fragment="content"></div>
        <!-- / Content -->

        <!-- Footer -->
        <footer th:replace="fragments/footer"></footer>
        <!-- / Footer -->

        <div class="content-backdrop fade"></div>
      </div>
      <!-- Content wrapper -->
    </div>
    <!-- / Layout page -->
  </div>

  <!-- Overlay -->
  <div class="layout-overlay layout-menu-toggle"></div>
</div>
<!-- / Layout wrapper -->



<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
<!-- tabulator JS -->
<script type="text/javascript" src="https://unpkg.com/tabulator-tables/dist/js/tabulator.min.js"></script>

</body>



</html>
