.hotel-filter-container {
    max-width: 970px;
    margin: 60px auto;
}
.hotel-list-container {
    /*max-width: 70%;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    max-width: 970px;
    margin: 60px auto;
    font-family: 'NanumSquareNeo-Variable-normal', sans-serif;
}

.filterChip {
    border: 1px solid;
    display: inline-block;
    padding: 0.4rem 0.6rem;
    font-size: 0.9rem;
    border-radius: 20px;
    margin: 5px;
    cursor: pointer;
    color: #4e73df;
    background-color: #fff;

}
.filterChip.active {
    background-color: #4e73df;
    color: #fff;
}
.filterChip span {
    margin-left: 10px;
    cursor: pointer;
}

.chip {
    border: 1px solid;
    display: inline-block;
    padding: 0.1rem 0.2rem;
    font-size: 0.9rem;
    border-radius: 3px;
    margin: 2px;
    color: #787676;
}

.chip span {
    margin-left: 10px;
}

/*.hotel-detail-ol {*/
/*    list-style: none;*/
/*}*/

/*.hotel-detail {*/
/*    display: flex;*/
/*    min-height: 200px;*/
/*}*/
/*.hotel-detail:hover,*/
/*.hotel-detail:active,*/
/*.hotel-detail:focus {*/
/*    background: #c66995;*/
/*}*/

/*.hotel-detail-1 {*/
/*    width: 30%;*/
/*    border: 1px solid #787676;*/
/*    border-radius: 0.8rem 0 0 0.8rem;*/
/*    overflow: hidden;*/
/*}*/

/*.hotel-detail-2 {*/
/*    width: 40%;*/
/*    border: 1px solid #787676;*/
/*    border-left: 0;*/
/*    border-right: 0;*/
/*    padding: 10px;*/
/*    font-size: x-large;*/
/*    font-weight: 500;*/
/*}*/

/*.hotel-detail-3 {*/
/*    width: 30%;*/
/*    border: 1px solid #787676;*/
/*    border-radius: 0 0.8rem 0.8rem 0;*/
/*    text-align: right;*/
/*    padding: 10px;*/
/*    font-size: x-large;*/
/*    font-weight: 500;*/
/*}*/

.chip {
    border: 1px solid;
    display: inline-block;
    padding: 0.1rem 0.2rem;
    font-size: 0.9rem;
    border-radius: 3px;
    margin: 2px;
    color: #787676;
}

.chip span {
    margin-left: 10px;
}

.hotel-images-slick {
    max-height: 230px;
    max-width: 270px;
}
.hotel-images-slick .slick-slide{
    height: 230px;
    width: 270px;
}
