.hotel-detail-container {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.hotel-detail-content {

}

.hotel-detail-ol {
    list-style: none;
}

.hotel-detail {
    display: flex;
    min-height: 200px;
}

.hotel-detail-1 {
    width: 30%;
    border: 1px solid #787676;
    border-radius: 0.8rem 0 0 0.8rem;
}

.hotel-detail-2 {
    width: 40%;
    border: 1px solid #787676;
    border-left: 0;
    border-right: 0;
}

.hotel-detail-3 {
    width: 30%;
    border: 1px solid #787676;
    border-radius: 0 0.8rem 0.8rem 0;
    text-align: right;
}

.hotel-images-slick {
    max-height: 260px;
    max-width: 260px;
}

.hotel-images-slick img.img-fluid {
    max-width: 100%;   /* 이미지의 최대 너비를 100%로 설정 */
    height: 100%;      /* 비율에 맞게 높이를 자동으로 설정 */
}