.hotel-detail-container{
    max-width: 970px;
    margin: 60px auto;
    font-family: 'NanumSquareNeo-Variable-normal', sans-serif;
}

.room-detail-container {
    max-width: 970px;
    margin: 60px auto;
}

.room-container{
    border: 1px solid #d2d2d2;
    background-color: #e6e6e6;
}

.room-container .room-head-content {
    margin: 0;
    padding: 10px;
    background-color: white;
    font-weight: 500;
    font-size: large;
}

.room-images-slick {
    max-height: 230px;
    max-width: 270px;
}

.room-images-slick .slick-slide{
    height: 230px;
    width: 270px;
}
