<!DOCTYPE html>
<html
    lang="ko"
    dir="ltr"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
  <!-- 미디어쿼리 사용시 설정 해줘야함  -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Pet Hotel</title>
  <link rel="icon" type="image/x-icon" href="/img/favicon.png">

  <!-- Bootstrap  CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <!-- jQuery UI CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"
        integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"/>

  <!-- load stylesheets -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
  <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" />
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>


  <!-- Templatemo style -->
  <link rel="stylesheet" href="/css/templatemo-style.css">

  <!-- Custom styles for this page -->
  <link rel="stylesheet" type="text/css" href="/hotel/hotelList.css">
  <script src="/hotel/hotelList.js"></script>


  <style>
    .slick-slide{
        height: 260px;
    }
  </style>
</head>

<body>
<!-- .main-content 시작-->
<div class="tm-main-content">

  <div class="tm-top-bar-bg" style="height: 160px;"></div>
  <!-- navbar 시작 -->
  <div class="tm-top-bar active" id="tm-top-bar">
    <div class="container">
      <div class="row">
        <nav class="navbar navbar-expand-lg navbar-light">
          <a class="navbar-brand mr-auto" href="/">
            <img src="img/logo.png" alt="Site logo">
            Pet Hotel
          </a>

          <!-- 토글 버튼 (모바일용) -->
          <button type="button" id="nav-toggle" class="navbar-toggler collapsed" data-toggle="collapse"
                  data-target="#mainNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <!-- 토글 버튼 (모바일용) 종료-->

          <div id="mainNav" class="collapse navbar-collapse justify-content-end tm-bg-white">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link active" href="/hotel">Hotel </a>
              </li>
              <!-- 로그인하지 않은 사용자가 볼 수 있는 링크 -->
              <li sec:authorize="isAnonymous()" class="nav-item">
                <a class="nav-link" href="/login">Login</a>
              </li>
              <li sec:authorize="isAnonymous()" class="nav-item">
                <a class="nav-link" href="/signup">Sign Up</a>
              </li>
              <!-- 회원만 볼 수 있는 링크 -->
              <li sec:authorize="hasAuthority('USER')" class="nav-item">
                <a class="nav-link" href="/myBooking">My Booking</a>
              </li>
              <!-- 매니저만 볼 수 있는 링크 -->
              <li sec:authorize="hasAuthority('MANAGER')" class="nav-item">
                <a class="nav-link" href="/manager/myhotelPage">My hotel</a>
              </li>
              <li sec:authorize="hasAnyAuthority('USER', 'MANAGER')" class="nav-item">
                <a class="nav-link" href="/mypage">My Page</a>
              </li>
              <!-- 관리자만 볼 수 있는 링크 -->
              <li sec:authorize="hasAuthority('ADMIN')" class="nav-item">
                <a class="nav-link" href="/admin">Admin Page</a>
              </li>
              <!-- 로그인 한 사용자만 볼 수 있는 링크 -->
              <li sec:authorize="isAuthenticated()" class="nav-item">
                <a class="nav-link" href="#" data-toggle="modal" data-target="#logoutModal" id="btnLogout">Logout</a>
              </li>
            </ul>
          </div>
        </nav>
      </div> <!-- row -->
    </div> <!-- container -->
  </div> <!-- .tm-top-bar -->

  <div class="mobile-d-none">
    <div class="tm-top-bar-form tm-bg-primary justify-content-center" style="display: flex; align-items: center">
      <div class="container">
        <div class="row">
          <nav class="navbar navbar-expand-lg navbar-dark justify-content-center">
            <form style="display: flex;" id="searchForm">
              <!-- selectCity  -->
              <div class="form-group tm-form-group m-1">
                <label for="selectCity">목적지</label>
                <select class="form-control tm-select" style="min-width: 100px;" name="" id="selectCity">
                  <option th:each="REG : ${REG}" th:value="${REG.codeName}" th:text="${REG.codeName}"></option>
                </select>
              </div>
              <!-- selectType  -->
              <div class="form-group tm-form-group m-1">
                <label for="selectType">숙소</label>
                <select class="form-control tm-select" style="min-width: 100px;" name="" id="selectType">
                  <option th:each="HTP : ${HTP}" th:value="${HTP.codeName}" th:text="${HTP.codeName}"></option>
                </select>
              </div>
              <!-- checkIn  -->
              <div class="form-group tm-form-group m-1">
                <label for="startDate">체크인</label>
                <input type="text" class="form-control" style="min-width: 150px;" id="startDate" name="startDate" placeholder="Check In">
              </div>
              <!-- checkOut  -->
              <div class="form-group tm-form-group m-1">
                <label for="endDate">체크아웃</label>
                <input type="text" class="form-control" style="min-width: 150px;" id="endDate" name="endDate" placeholder="Check Out">
              </div>
              <!-- room  -->
              <div class="form-group tm-form-group m-1">
                <label for="inputRoom">방</label>
                <select name="room" class="form-control tm-select" style="min-width: 100px;" id="inputRoom">
                  <option value="1" selected>1 Room</option>
                  <option value="2">2 Rooms</option>
                  <option value="3">3 Rooms</option>
                  <option value="4">4 Rooms</option>
                  <option value="5">5 Rooms</option>
                  <option value="6">6 Rooms</option>
                  <option value="7">7 Rooms</option>
                  <option value="8">8 Rooms</option>
                  <option value="9">9 Rooms</option>
                  <option value="10">10 Rooms</option>
                </select>
              </div>
              <!-- guest  -->
              <div class="form-group tm-form-group m-1">
                <label for="guest">인원</label>
                <select class="form-control tm-select" style="min-width: 100px;" id="guest" name="guest">
                  <option value="1" selected>1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                </select>
              </div>
              <!-- pet  -->
              <div class="form-group tm-form-group m-1">
                <label for="pet">펫</label>
                <select class="form-control tm-select" style="min-width: 100px;" id="pet" name="pet">
                  <option value="1" selected>1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                </select>
              </div>

              <button type="submit" class="btn btn-white m-1" id="btnSubmit">검색</button>
              <button type="button" class="btn btn-highlight m-1" id="btnFilter">필터</button>
            </form>
          </nav>
        </div>
      </div> <!-- .tm-top-bar-form -->

    </div>
    <!-- navbar 종료 -->
  </div>

  <!-- 본문 시작 -->
  <div class="tm-page-wrap mx-auto justify-content-center">
    <div class="tm-container-outer">
      <div class="container pt-3 pb-3">

      </div>   <!-- .container -->
    </div>   <!-- .tm-container-outer -->
    <div class="tm-container-outer">
      <div class="container">
<!--        <div class="hotel-filter-container">-->
<!--          <div>-->
<!--            -->
<!--          </div>-->
<!--        </div>-->
        <div class="hotel-list-container">
          <div class="tm-recommended-place-wrap pb-5" id="hotelListContainer"></div>
        </div>
      </div>  <!-- .container -->
    </div>  <!-- .tm-container-outer -->


    <footer class="tm-container-outer">
      <p class="mb-0">Copyright © <span class="tm-current-year">2018</span> Your Company
        . Designed by <a rel="nofollow" href="http://www.google.com/+templatemo" target="_parent">Template</a></p>
    </footer>
  </div>
  <!-- 본문 종료 -->

</div>
<!-- .main-content 종료-->

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="logoutModalLabel">Ready to Leave?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <a class="btn btn-primary" href="/logout">Logout</a>
      </div>
    </div>
  </div>
</div>

<!-- Filter Modal-->
<div class="modal fade" id="filterModal" tabindex="-1" aria-labelledby="filterModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="filterModalLabel">검색 필터</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h6>숙소 제공 시설</h6>
        <div>
          <span th:each="hfc : ${HFC}"
                class="filterChip"
                th:data-code="${hfc.code}"
                th:text="${hfc.codeName}"></span>
          <input type="hidden" id="inputFilterChips" name="inputFilterChips" >
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="btnFilterSearch">검색</button>
      </div>
    </div>
  </div>
</div>

<!-- load JS files -->
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<!-- https://floating-ui.com/ -->
<script src="https://cdn.jsdelivr.net/npm/@floating-ui/core@1.6.8"></script>
<script src="https://cdn.jsdelivr.net/npm/@floating-ui/dom@1.6.12"></script>
<!-- https://github.com/flesler/jquery.scrollTo -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.3/jquery.scrollTo.min.js"></script>



<script>

    let currentPage = 1;  // 현재 페이지 번호
    let isLoading = false;  // 데이터 로딩 상태

    let searchData = JSON.parse(sessionStorage.getItem('searchData'));

    // 무한 스크롤 초기화
    function initializeInfiniteScroll() {
        $(window).on('scroll', function () {
            // 스크롤이 끝에 가까워졌고, 아직 로딩 중이지 않으면
            if (!isLoading && $(window).scrollTop() + $(window).height() >= $(document).height() - 100) {
                isLoading = true;  // 데이터 로딩 시작
                loadMoreHotels(searchData);  // 더 많은 호텔 로드
            }
        });
    }

    $(function () {

        // Close navbar after clicked
        $('.nav-link').click(function () {
            $('#mainNav').removeClass('show');
        });

        initializeInfiniteScroll();  // 무한 스크롤 초기화
        loadMoreHotels(searchData);

        // Date Picker in Search form
        $('#startDate, #endDate').datepicker({
            format: 'yyyy-mm-dd',  // 원하는 날짜 형식으로 설정
            autoclose : true,
            startDate: 'today',
            todayHighlight : true ,
        })

        $('#startDate').val(searchData.checkIn);
        $('#endDate').val(searchData.checkOut);
        $('#inputRoom').val(searchData.room);
        $('#guest').val(searchData.guest);
        $('#pet').val(searchData.pet);

        let selectCity = $('#selectCity');
        let selectType = $('#selectType');
        selectCity.val(searchData.location);
        selectType.val(searchData.hotelType);


        $('#searchForm').on('submit', function (e) {
            e.preventDefault();

            // 검색 조건을 sessionStorage에 저장
            let location = $('#selectCity').val();
            let hotelType = $('#selectType').val();
            let checkIn = $('#startDate').val();
            let checkOut = $('#endDate').val();
            let room = $('#inputRoom').val();
            let guest = $('#guest').val();
            let pet = $('#pet').val();

            // 조건이 모두 채워져 있는지 체크
            if (!location || !hotelType || !checkIn || !checkOut || !room || !guest || !pet) {
                // 조건이 비어 있는 경우
                alert('모든 검색 조건을 입력해주세요.');
            } else {
                // 서버로 조건을 POST 요청
                $.ajax({
                    url: '/hotel/saveSearchOption',  // 서버로 조건 저장 요청
                    method: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        location: location,
                        hotelType: hotelType,
                        checkIn: checkIn,
                        checkOut: checkOut,
                        room: room,
                        guest: guest,
                        pet: pet
                    }),
                    success: function (data) {
                        // 저장이 성공하면 호텔 리스트 페이지로 이동
                        sessionStorage.setItem('searchData', JSON.stringify(data));
                        window.location.href = '/hotel';
                    },
                    error: function (request, status, error) {
                        let result = jQuery.parseJSON(request.responseText)
                        alert(result.msg);
                    }
                });
            }
        })

        $('#btnLogout').on('click', function() {
            let myModal = new bootstrap.Modal(document.getElementById('logoutModal'));
            myModal.show();
        });

        $('#btnFilter').on('click', function() {
            let myModal = new bootstrap.Modal(document.getElementById('filterModal'));
            myModal.show();
        });

        $('#btnFilterSearch').on('click', function() {
            let inputFilterChips = $('#inputFilterChips').val();
            alert(inputFilterChips);
        });

        let chips = document.querySelectorAll('.filterChip');
        let selectedChips = new Set();
        let selectedChipsInput = $('#inputFilterChips');

        chips.forEach(chip => {
            chip.addEventListener('click', function() {
                let chipValue = this.getAttribute('data-code');
                this.classList.toggle('active');

                if (this.classList.contains('active')) {
                    selectedChips.add(chipValue);  // Set에 값 추가
                } else {
                    selectedChips.delete(chipValue);  // Set에서 값 제거
                }

                // Set에서 값을 쉼표로 구분한 문자열로 변환하여 숨겨진 입력 필드에 저장
                selectedChipsInput.val(Array.from(selectedChips).join(','));

                // if (this.classList.contains('active')) {
                //     selectedChips.push(chipValue);
                // } else {
                //     selectedChips = selectedChips.filter(item => item !== chipValue);
                // }
                //
                // // 숨겨진 입력 필드에서 기존 값을 가져와서 처리
                // let currentValue = selectedChipsInput.val(); // jQuery로 가져온 값은 문자열입니다
                // let allSelectedChips = currentValue ? currentValue.split(',') : []; // 기존 값과 선택된 값 합침
                // allSelectedChips = [...new Set([...allSelectedChips, ...selectedChips])];
                // // 선택된 칩들의 값을 쉼표로 구분하여 숨겨진 입력 필드에 저장
                // selectedChipsInput.val(allSelectedChips.join(','));
            });
        });



        // // 슬릭 슬라이더 초기화
        // $('.hotel-images-slick').slick({
        //     slidesToShow: 1,
        //     slidesToScroll: 1,
        //     arrows: false,
        //     dots: false,
        //     autoplay: true,
        //     autoplaySpeed: 2000,
        // });




    });

</script>

</body>
</html>

