<!DOCTYPE html>
<html
    lang="ko"
    dir="ltr"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
  <title>Pet Hotel</title>
  <link rel="icon" type="image/x-icon" href="/img/favicon.png">
  <!-- Bootstrap  CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <!-- jQuery UI CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"
        integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"/>

  <!-- load stylesheets -->
  <!-- Google web font "Open Sans" -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
  <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" />
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
  <!-- Templatemo style -->
  <link rel="stylesheet" href="css/templatemo-style.css">
</head>

<body>
<!-- .main-content 시작-->
<div class="tm-main-content">
  <div class="tm-top-bar-bg"></div>
  <!-- navbar 시작 -->
  <div class="tm-top-bar" id="tm-top-bar">
    <div class="container">
      <div class="row">
        <nav class="navbar navbar-expand-lg narbar-light">
          <a class="navbar-brand mr-auto" href="/">
            <img src="img/logo.png" alt="Site logo">
            Pet Hotel
          </a>
          <!-- 토글 버튼 (모바일용) -->
          <button type="button" id="nav-toggle" class="navbar-toggler collapsed" data-toggle="collapse"
                  data-target="#mainNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <!-- 토글 버튼 (모바일용) -->
          <div id="mainNav" class="collapse navbar-collapse justify-content-end tm-bg-white">
            <ul class="navbar-nav ml-auto">
<!--              <li sec:authorize="!hasAuthority('MANAGER')" class="nav-item">-->
              <li class="nav-item">
                <a class="nav-link" href="/hotel">Hotel </a>
              </li>
              <!-- 로그인하지 않은 사용자가 볼 수 있는 링크 -->
              <li sec:authorize="isAnonymous()" class="nav-item">
                <a class="nav-link" href="/login">Login</a>
              </li>
              <li sec:authorize="isAnonymous()" class="nav-item">
                <a class="nav-link" href="/signup">Sign Up</a>
              </li>
              <!-- 회원만 볼 수 있는 링크 -->
              <li sec:authorize="hasAuthority('USER')" class="nav-item">
                <a class="nav-link" href="/myBooking">My Booking</a>
              </li>
              <!-- 매니저만 볼 수 있는 링크 -->
              <li sec:authorize="hasAuthority('MANAGER')" class="nav-item">
                <a class="nav-link" href="/manager/myhotelPage">My hotel</a>
              </li>
              <li sec:authorize="hasAnyAuthority('USER', 'MANAGER')" class="nav-item">
                <a class="nav-link" href="/mypage">My Page</a>
              </li>
              <!-- 관리자만 볼 수 있는 링크 -->
              <li sec:authorize="hasAuthority('ADMIN')" class="nav-item">
                <a class="nav-link" href="/admin">Admin Page</a>
              </li>
              <!-- 로그인 한 사용자만 볼 수 있는 링크 -->
              <li sec:authorize="isAuthenticated()" class="nav-item">
                <a class="nav-link" href="#" data-toggle="modal" data-target="#logoutModal" id="btnLogout">Logout</a>
              </li>
            </ul>
          </div>
        </nav>
      </div> <!-- row -->
    </div> <!-- container -->
  </div> <!-- .tm-top-bar -->
  <!-- navbar 종료 -->

  <!-- 본문 시작 -->
  <div class="tm-page-wrap mx-auto justify-content-center">
    <!-- 배너 시작 -->
    <section class="tm-banner">
      <div class="tm-container-outer tm-banner-bg">
        <div class="container">
          <div class="row tm-banner-row tm-banner-row-header">
            <div class="col-xs-12">
              <div class="tm-banner-header">
                <h1 class="text-uppercase tm-banner-title">Let's begin</h1>
                <img src="img/dots-3.png" alt="Dots">
                <p class="tm-banner-subtitle">We assist you to choose the best.</p>
              </div>
            </div>  <!-- col-xs-12 -->
          </div> <!-- row -->
          <div class="row tm-banner-row" id="tm-section-search" style="padding-top: 200px;">
            <form class="tm-search-form tm-section-pad-2" id="searchForm">
              <div class="form-row tm-search-form-row">
                <div class="form-group tm-form-group tm-form-group-1">
                  <div class="form-group tm-form-group tm-form-group-pad tm-form-group-1">
                    <label for="selectCity">Destination</label>
                    <select class="form-control tm-select" id="selectCity" name="selectCity">
                      <option th:each="REG : ${REG}" th:value="${REG.codeName}" th:text="${REG.codeName}"></option>
                    </select>
                  </div>
                </div>

                <div class="form-group tm-form-group tm-form-group-1">
                  <div class="form-group tm-form-group tm-form-group-pad tm-form-group-2">
                    <label for="inputRoom">How many rooms?</label>
                    <select name="room" class="form-control tm-select" id="inputRoom">
                      <option value="1" selected>1 Room</option>
                      <option value="2">2 Rooms</option>
                      <option value="3">3 Rooms</option>
                      <option value="4">4 Rooms</option>
                      <option value="5">5 Rooms</option>
                      <option value="6">6 Rooms</option>
                      <option value="7">7 Rooms</option>
                      <option value="8">8 Rooms</option>
                      <option value="9">9 Rooms</option>
                      <option value="10">10 Rooms</option>
                    </select>
                  </div>
                  <div class="form-group tm-form-group tm-form-group-pad tm-form-group-3">
                    <label for="guest">Guest</label>
                    <select class="form-control tm-select" id="guest" name="guest">
                      <option value="1" selected>1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
                    </select>
                  </div>
                  <div class="form-group tm-form-group tm-form-group-pad tm-form-group-3">

                    <label for="pet">Pet</label>
                    <select class="form-control tm-select" id="pet" name="pet">
                      <option value="1" selected>1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                    </select>
                  </div>
                </div>
              </div> <!-- form-row -->
              <div class="form-row tm-search-form-row">
                <div class="form-group tm-form-group tm-form-group-pad tm-form-group-3">
                  <label for="startDate">Check In Date</label>
                  <input type="text" class="form-control" id="startDate" name="startDate" placeholder="Check In">
                </div>
                <div class="form-group tm-form-group tm-form-group-pad tm-form-group-3">
                  <label for="endDate">Check Out Date</label>
                  <input type="text" class="form-control" id="endDate" name="endDate" placeholder="Check Out">
                </div>
                <div class="form-group tm-form-group tm-form-group-pad tm-form-group-1">
                  <label for="btnSubmit">&nbsp;</label>
                  <button type="submit" class="btn btn-primary tm-btn tm-btn-search text-uppercase" id="btnSubmit">
                    Search
                  </button>
                </div>
              </div>
            </form>
          </div> <!-- row -->
          <div class="tm-banner-overlay"></div>
        </div>  <!-- .container -->
      </div>     <!-- .tm-container-outer -->
    </section>
    <!-- 배너 종료 -->

    <!-- 지역별 탭 시작 -->
    <div class="tm-container-outer" id="tm-section-3">
      <!-- 탭 타이틀 시작 -->
      <ul class="nav nav-pills tm-tabs-links" style="font-family: 'NanumSquareNeo-Variable-bold', sans-serif;">
        <li class="tm-tab-link-li">
          <span data-toggle="tab" class="tm-tab-link active" data-location="서울">서울</span>
        </li>
        <li class="tm-tab-link-li">
          <span data-toggle="tab" class="tm-tab-link" data-location="부산" >부산</span>
        </li>
        <li class="tm-tab-link-li">
          <span data-toggle="tab" class="tm-tab-link" data-location="제주 ">제주</span>
        </li>
        <li class="tm-tab-link-li">
          <span data-toggle="tab" class="tm-tab-link" data-location="경기" >경기</span>
        </li>
        <li class="tm-tab-link-li">
          <span data-toggle="tab" class="tm-tab-link" data-location="인천" >인천</span>
        </li>
        <li class="tm-tab-link-li">
          <span data-toggle="tab" class="tm-tab-link" data-location="강원" >강원</span>
        </li>
        <li class="tm-tab-link-li">
          <span data-toggle="tab" class="tm-tab-link" data-location="경상" >경상</span>
        </li>
        <li class="tm-tab-link-li">
          <span data-toggle="tab" class="tm-tab-link" data-location="전라" >전라</span>
        </li>
        <li class="tm-tab-link-li">
          <span data-toggle="tab" class="tm-tab-link" data-location="충청" >충청</span>
        </li>
      </ul>
      <!-- 탭 타이틀 종료 -->

      <!-- 탭 컨텐트 시작 -->
      <div class="tab-content clearfix">
        <!-- Tab -->
        <div style="width: 970px; margin: 60px auto;">
          <div class="tm-recommended-place-wrap" id="location-container" style="font-family: 'NanumSquareNeo-Variable-bold', sans-serif;">
          </div>
          <a href="#" class="btn tm-btn btn-primary mx-auto tm-d-table">Show More Places</a>
        </div> <!-- tab-pane -->

      </div>
      <!-- 탭 컨텐트 종료 -->
    </div>
    <!-- 지역별 탭 종료 -->

    <footer class="tm-container-outer">
      <p class="mb-0">Copyright © <span class="tm-current-year">2018</span> Your Company
        . Designed by <a rel="nofollow" href="http://www.google.com/+templatemo" target="_parent">Template</a></p>
    </footer>
  </div>
  <!-- 본문 종료 -->

</div>
<!-- .main-content 종료-->

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="logoutModalLabel">Ready to Leave?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <a class="btn btn-primary" href="/logout">Logout</a>
      </div>
    </div>
  </div>
</div>

<!-- load JS files -->
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<!-- https://floating-ui.com/ -->
<script src="https://cdn.jsdelivr.net/npm/@floating-ui/core@1.6.8"></script>
<script src="https://cdn.jsdelivr.net/npm/@floating-ui/dom@1.6.12"></script>
<!-- https://github.com/flesler/jquery.scrollTo -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.3/jquery.scrollTo.min.js"></script>


<script>
    $(function () {

        let searchData = JSON.parse(sessionStorage.getItem('searchData'));

        $('#startDate, #endDate').datepicker({
            format: 'yyyy-mm-dd',  // 원하는 날짜 형식으로 설정
            autoclose : true,
            startDate: 'today',
            todayHighlight : true ,
        })
        $('#startDate').datepicker('setDate', 'today'); // (-1D:하루전, -1M:한달전, -1Y:일년전), (+1D:하루후, -1M:한달후, -1Y:일년후)
        $('#endDate').datepicker('setDate', '+1D'); // (-1D:하루전, -1M:한달전, -1Y:일년전), (+1D:하루후, -1M:한달후, -1Y:일년후)

        // Close navbar after clicked
        $('.nav-link').click(function () {
            $('#mainNav').removeClass('show');
        });

        $('#btnLogout').on('click', function() {
            let myModal = new bootstrap.Modal(document.getElementById('logoutModal'));
            myModal.show();
        });

        let selectCity = $('#selectCity');
        selectCity.val(searchData.location);

        let firstTab = $('.tm-tab-link').first(); // 첫 번째 탭 선택
        let target = firstTab.data('location'); // 첫 번째 탭의 location 데이터 가져오기
        // 첫 번째 탭을 클릭한 상태로 설정
        firstTab.addClass('active');

        // 해당 위치에 대한 호텔 데이터를 불러오기
        loadHotels(target);

        // 탭을 클릭했을 때의 동작
        $('.tm-tab-link').on('click', function(e) {
            target = $(this).data('location');

            $('.tm-tab-link').removeClass('active');
            $(this).addClass('active');

            loadHotels(target);

            // 기본 동작을 방지 (페이지 새로고침 방지)
            e.preventDefault();
        });

        function loadHotels(location){
            let container = $('#location-container')
            container.empty();
            $.ajax({
                url: '/hotel/main/'+location,
                type: 'get',
                contentType: 'application/json',
                success: function (data) {
                    data.hotels.forEach(hotel => {
                        let hotelItem = `
                            <div class="tm-recommended-place" id="hotel-${hotel.hotelId}">
                            <div class="tm-hotel-image-box" style="min-width: 270px;"></div>
                                <div class="tm-recommended-description-box">
                                    <h3 class="tm-recommended-title">${hotel.hotelName}</h3>
                                    <p>${hotel.location}</p>
                                </div>
                                <a href="/hotel/hotelDetail/${hotel.hotelId}" class="tm-recommended-price-box" style="position: relative;">
                                    <p class="tm-recommended-price" style="position: absolute; bottom: 10px;">${Number(hotel.minPrice).toLocaleString()}원 ~</p>
                                </a>
                            </div>
                        `
                        container.append(hotelItem);
                        // 이미지 렌더링 함수 호출
                        imgRender(hotel.hotelImg, hotel.hotelId);
                    })

                },
                error: function (request, status, error) {
                    let result = jQuery.parseJSON(request.responseText)
                    alert(result.msg);
                }
            })
        }



        function imgRender(hotelImg, hotelId) {
            let slickHtml = '<div class="hotel-images-slick img-div" style="width: 270px; height: 230px; " >';
            hotelImg.forEach(photo =>{
                slickHtml += `
                  <div>
                    <img src="http://localhost:8081/uploads/hotel/${photo.himgFile}"
                        alt="호텔 이미지" class="img-fluid" style="width: 270px; height: 230px; object-fit: cover;">
                  </div>
                `;
            });
            slickHtml += '</div>';

            // HTML 구조에 슬릭 HTML 추가
            let hotelImageContainer = $('#hotel-' + hotelId + ' .tm-hotel-image-box');
            hotelImageContainer.html(slickHtml);  // 기존의 이미지를 덮어씌운다

            if ($('#hotel-' + hotelId + ' .hotel-images-slick').not('.slick-initialized').length > 0) {
                $('#hotel-' + hotelId + ' .hotel-images-slick').slick({
                    slidesToShow: 1,
                    slidesToScroll: 1,
                    arrows: false,
                    dots: false,
                    autoplay: true,
                    autoplaySpeed: 2000
                });
            }

        }


        $('#searchForm').on('submit', function (e) {
            e.preventDefault();

            // 검색 조건을 sessionStorage에 저장
            let location = $('#selectCity').val();
            let checkIn = $('#startDate').val();
            let checkOut = $('#endDate').val();
            let room = $('#inputRoom').val();
            let guest = $('#guest').val();
            let pet = $('#pet').val();

            // 조건이 모두 채워져 있는지 체크
            if (!location || !checkIn || !checkOut || !room || !guest || !pet) {
                // 조건이 비어 있는 경우
                alert('모든 검색 조건을 입력해주세요.');
            } else {
                // 서버로 조건을 POST 요청
                $.ajax({
                    url: '/hotel/saveSearchOption',  // 서버로 조건 저장 요청
                    method: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        location: location,
                        checkIn: checkIn,
                        checkOut: checkOut,
                        room: room,
                        guest: guest,
                        pet: pet
                    }),
                    success: function (data) {
                        // 저장이 성공하면 호텔 리스트 페이지로 이동
                        sessionStorage.setItem('searchData', JSON.stringify(data));
                        window.location.href = '/hotel';
                    },
                    error: function (request, status, error) {
                        let result = jQuery.parseJSON(request.responseText)
                        alert(result.msg);
                    }

                });
            }
        })
    });

</script>

</body>
</html>